Averaged speed for 3 time slots below per day
* 6 - 10
* 10- 16
* 16 - 21

In [144]:
%pwd

'C:\\Users\\user\\OneDrive - postech.ac.kr\\1-1\\ML for graph\\project\\code'

In [145]:
import pandas as pd

df = pd.read_csv('../data/la_speed.csv')

In [146]:
ids = df.columns

In [150]:
out_df = pd.DataFrame(columns=ids) 
out_df

Empty DataFrame
Columns: [Unnamed: 0, 773869, 767541, 767542, 717447, 717446, 717445, 773062, 767620, 737529, 717816, 765604, 767471, 716339, 773906, 765273, 716331, 771667, 716337, 769953, 769402, 769403, 769819, 769405, 716941, 717578, 716960, 717804, 767572, 767573, 773012, 773013, 764424, 769388, 716328, 717819, 769941, 760987, 718204, 718045, 769418, 768066, 772140, 773927, 760024, 774012, 774011, 767609, 769359, 760650, 716956, 769831, 761604, 717495, 716554, 773953, 767470, 716955, 764949, 773954, 767366, 769444, 773939, 774067, 769443, 767750, 767751, 767610, 773880, 764766, 717497, 717490, 717491, 717492, 717493, 765176, 717498, 717499, 765171, 718064, 718066, 765164, 769431, 769430, 717610, 767053, 767621, 772596, 772597, 767350, 767351, 716571, 773023, 767585, 773024, 717483, 718379, 717481, 717480, 717486, ...]
Index: []

[0 rows x 208 columns]

In [151]:
days_list = df.iloc[:, 0].str.split(" ").str[0].unique().tolist()
# days_list

In [152]:
for day in days_list:
    day_df = df.loc[df.iloc[:, 0].str.split(" ").str[0] == day]
    
    morning = day_df.loc[df.iloc[:, 0].str.split(" ").str[1].str.split(":").str[0].isin(['06', '07', '08', '09'])].mean(axis=0).round(2)
    regular = day_df.loc[df.iloc[:, 0].str.split(" ").str[1].str.split(":").str[0].isin(['10', '11', '12', '13', '14', '15'])].mean(axis=0).round(2)
    evening = day_df.loc[df.iloc[:, 0].str.split(" ").str[1].str.split(":").str[0].isin(['16', '17', '18', '19', '20'])].mean(axis=0).round(2)
    
    avg_morning = morning.append(pd.Series([day + ' ' + '06:00:00 - 09:55:00']))
    avg_regular= regular.append(pd.Series([day + ' ' + '10:00:00 - 15:55:00']))
    avg_evening = evening.append(pd.Series([day + ' ' + '16:00:00 - 20:55:00']))
    
    out_df = out_df.append(avg_morning, ignore_index=True)
    out_df = out_df.append(avg_regular, ignore_index=True)
    out_df = out_df.append(avg_evening, ignore_index=True)

In [153]:
cols = out_df.columns.tolist()
cols = cols[-1:] + cols[:-1]
out_df = out_df[cols]

In [154]:
out_df.drop(df.filter(regex="Unname"),axis=1, inplace=True)
out_df.rename(columns = {0: "time"}, inplace=True)
out_df

,time,773869,767541,767542,717447,717446,717445,773062,767620,737529,...,772167,769372,774204,769806,717590,717592,717595,772168,718141,769373
0,2012-03-01 06:00:00 - 09:55:00,66.93,64.88,38.76,49.24,43.46,48.24,65.38,63.20,39.75,...,36.66,67.89,56.18,65.79,50.71,64.56,67.76,43.41,63.11,46.86
1,2012-03-01 10:00:00 - 15:55:00,65.00,65.18,67.61,51.13,38.89,57.72,52.57,63.29,62.84,...,41.03,65.61,59.69,64.56,66.44,60.57,67.03,57.37,64.85,57.48
2,2012-03-01 16:00:00 - 20:55:00,49.60,60.42,66.09,41.39,40.22,47.74,44.69,60.48,63.73,...,35.36,34.14,46.92,65.07,68.01,62.96,67.29,55.58,63.77,61.90
3,2012-03-02 06:00:00 - 09:55:00,66.63,63.87,50.80,52.32,44.45,55.88,64.44,62.88,61.50,...,45.88,67.12,62.06,65.87,65.69,64.04,67.53,48.73,66.98,57.89
4,2012-03-02 10:00:00 - 15:55:00,65.02,65.14,67.48,51.86,35.90,58.42,48.86,63.18,63.41,...,39.24,66.07,57.38,64.88,67.13,61.77,66.83,52.95,58.74,55.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352,2012-06-26 10:00:00 - 15:55:00,64.32,64.42,66.96,50.04,38.32,56.82,50.32,62.14,61.39,...,40.47,65.01,59.85,64.74,66.26,60.96,66.39,57.28,65.42,61.76
353,2012-06-26 16:00:00 - 20:55:00,45.36,61.22,67.83,51.75,35.82,57.88,43.00,61.70,64.05,...,34.25,41.69,45.90,65.10,68.44,63.96,68.05,58.07,62.35,51.63
354,2012-06-27 06:00:00 - 09:55:00,66.24,64.33,41.11,52.10,43.72,55.90,64.22,63.05,37.80,...,34.50,67.51,62.12,65.71,56.80,63.42,67.34,43.35,66.66,35.68
355,2012-06-27 10:00:00 - 15:55:00,61.84,63.41,65.50,50.08,6.04,57.02,47.43,60.90,59.34,...,31.51,61.88,56.74,62.68,64.53,59.47,65.16,48.79,59.88,59.44
356,2012-06-27 16:00:00 - 20:55:00,43.12,55.37,67.55,47.61,0.00,55.37,44.87,62.53,64.81,...,33.47,40.08,42.45,65.39,68.17,63.92,68.31,53.13,56.61,62.63

In [155]:
# split_time_df = df.loc[df.iloc[:, 0].str.split(" ").str[1].str.split(":").str[0].isin(['06', '07', '08', '09'])]

In [156]:
# df.iloc[:, 0].str.split(" ").str[0]

In [157]:
out_df

,time,773869,767541,767542,717447,717446,717445,773062,767620,737529,...,772167,769372,774204,769806,717590,717592,717595,772168,718141,769373
0,2012-03-01 06:00:00 - 09:55:00,66.93,64.88,38.76,49.24,43.46,48.24,65.38,63.20,39.75,...,36.66,67.89,56.18,65.79,50.71,64.56,67.76,43.41,63.11,46.86
1,2012-03-01 10:00:00 - 15:55:00,65.00,65.18,67.61,51.13,38.89,57.72,52.57,63.29,62.84,...,41.03,65.61,59.69,64.56,66.44,60.57,67.03,57.37,64.85,57.48
2,2012-03-01 16:00:00 - 20:55:00,49.60,60.42,66.09,41.39,40.22,47.74,44.69,60.48,63.73,...,35.36,34.14,46.92,65.07,68.01,62.96,67.29,55.58,63.77,61.90
3,2012-03-02 06:00:00 - 09:55:00,66.63,63.87,50.80,52.32,44.45,55.88,64.44,62.88,61.50,...,45.88,67.12,62.06,65.87,65.69,64.04,67.53,48.73,66.98,57.89
4,2012-03-02 10:00:00 - 15:55:00,65.02,65.14,67.48,51.86,35.90,58.42,48.86,63.18,63.41,...,39.24,66.07,57.38,64.88,67.13,61.77,66.83,52.95,58.74,55.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352,2012-06-26 10:00:00 - 15:55:00,64.32,64.42,66.96,50.04,38.32,56.82,50.32,62.14,61.39,...,40.47,65.01,59.85,64.74,66.26,60.96,66.39,57.28,65.42,61.76
353,2012-06-26 16:00:00 - 20:55:00,45.36,61.22,67.83,51.75,35.82,57.88,43.00,61.70,64.05,...,34.25,41.69,45.90,65.10,68.44,63.96,68.05,58.07,62.35,51.63
354,2012-06-27 06:00:00 - 09:55:00,66.24,64.33,41.11,52.10,43.72,55.90,64.22,63.05,37.80,...,34.50,67.51,62.12,65.71,56.80,63.42,67.34,43.35,66.66,35.68
355,2012-06-27 10:00:00 - 15:55:00,61.84,63.41,65.50,50.08,6.04,57.02,47.43,60.90,59.34,...,31.51,61.88,56.74,62.68,64.53,59.47,65.16,48.79,59.88,59.44
356,2012-06-27 16:00:00 - 20:55:00,43.12,55.37,67.55,47.61,0.00,55.37,44.87,62.53,64.81,...,33.47,40.08,42.45,65.39,68.17,63.92,68.31,53.13,56.61,62.63

In [158]:
out_df.to_csv('../data/la_avg_speed.csv', index=False)